# Portfolio Information
NAME="Your Name"
ROLE="Your Job Title/Role"
EMAIL="your.email@example.com"
PHONE="+XX XXXXXXXXXX"
ADDRESS="City, Country"
GITHUB="https://github.com/yourusername"
LINKEDIN="https://www.linkedin.com/in/yourusername"

# Django Security settings
# Be sure to set a random secret key in production!
DJANGO_SECRET_KEY="your-secret-key"
DJANGO_DEBUG="False"

# Email Configuration
EMAIL_HOST_USER="your-email@gmail.com"
EMAIL_HOST_PASSWORD="your-app-password"
